/* CSS Reset - Start*/

@font-face{
    font-family: Roboto;
    src: url(recources/roboto-regular-webfont.woff2);
}

*{
    box-sizing: border-box;
}

:root {
    line-height: 1.5;
    --color-bg: #000000;
    --color-contrast: #FFFFFF;
    
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 400;
    --fw-600: 600;
    --fw-xl: 800;

    --fs-300: 0.75rem;
    --fs-400: 1.75rem;
    --fs-500: 2.25rem;
    --fs-600: 3rem;
    --fs-xl: 13rem;
  
    --pad-small: 0.4rem;  
    --pad-mid: 1.5rem;  
    --pad-large: 2.25rem;   
}


h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
    padding: 0;
}

p{
    font-size: var(--font-size-small);
    font-weight: var(--fw-thin);
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

li{
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* CSS Reset - End*/
/*------------------------------------------------------------*/
/* Global - start */

a:hover, button:hover{
    cursor: pointer; 
    transform: scale(1.05); 
}

body{
    margin: 0;
    padding: 0;
    color:var(--color-contrast);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-bg);
}

h1{
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
}

h2{
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
}

h3{
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
}

p{
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
}

/* Global - End*/
/*------------------------------------------------------------*/
/* Gameboard - Start*/

.container{
    display: flex;
    flex-direction: column;
    gap: var(--pad-large);
}

.scoreboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.player1, .tie, .player2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.player1 .name, .player2 .name, .tie .name{
    font-size: var(--fs-400);
  
}

.player1 .score, .player2 .score, .tie .score{
    font-size: var(--fs-600);
}

.game-board{
    display: grid;
    background-color: var(--color-contrast);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--pad-small);
    width:min(50vw, 30em);
    height: min(50vw, 30em);
}

.cell{
    background-color: var(--color-bg);
    
    padding: var(--pad-mid);
    position: relative;
}

.cell:hover{
    cursor: pointer;
}

.cell p{
    position: absolute;
    font-size: calc(11rem + 1vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


@media (max-width: 30em) {
    .game-board {
        width: 90vw;  
        height: 90vw; 
    }

    .cell p {
        font-size: calc(4rem + 1vw); 
    }
}

@media (max-width: 48em) { 
    .game-board {
        width: 80vw; 
        height: 80vw; 
    }

    .cell p {
        font-size: calc(5rem + 1vw); 
    }
}

@media (max-width: 64em) { 
    .game-board {
        width: 70vw;  
        height: 70vw;
    }

    .cell p {
        font-size: calc(6rem + 1vw); 
    }
}


@media (max-width: 80em) { 
    .game-board {
        width: 60vw;  
        height: 60vw; 
    }

    .cell p {
        font-size: calc(7rem + 1vw);
    }
}


@media (min-width: 80em) {
    .game-board {
        width: 50vw; 
        height: 50vw; 
    }

    .cell p {
        font-size: calc(8rem + 1vw);
    }
}


/* Gameboard - End*/
